thead
  tr
    th.hidden-xs.text-center #{settings.locale.timestamp}
    th.hidden-xs.text-center #{settings.locale.tx_hash}
    th.text-center #{settings.symbol}
tbody
  each tx in txs
    - var time = new Date(tx.timestamp).toTimeString();
    tr
      td.hidden-xs.text-center(style='font-family:monospace;') #{time}
      td.hidden-xs.text-left(style='font-family:monospace; font-size: 80%;')
        a(href='/tx/#{tx.txid}') #{tx.txid}
      - var done = false
      - var out = 0
      - var vin = 0
      each r in tx.vout 
        if r.addresses == address.a_id
          - out = r.amount
      each s in tx.vin
        if s.addresses == address.a_id
          - vin = s.amount
      if out > 0 && vin > 0
        td.info.text-right(style='font-family:monospace;')
          - var amount = (out - vin) / 100000000
          if amount < 0
            - amount = amount * -1
            | #{amount.toFixed(8)} (<b>-</b>)
          else if amount > 0
            | #{amount.toFixed(8)} (<b>+</b>)
          else
            | #{amount.toFixed(8)}
      else if out > 0
        td.success.text-right(style='font-family:monospace;')
          - var amount = out / 100000000
          | #{amount.toFixed(8)} (<b>+</b>)
      else
        td.danger.text-right(style='font-family:monospace;')
          - var amount = vin / 100000000
          | #{amount.toFixed(8)} (<b>-</b>)
