thead
  tr
    th.hidden-xs #{settings.locale.timestamp}
    th.hidden-xs #{settings.locale.tx_hash}
    th #{settings.locale.mkt_amount} (#{settings.symbol})
    th
tbody
  each tx in txs
    - var time = format_unixtime(tx.timestamp)
    tr
      td.hidden-xs #{time} 
      td.hidden-xs #{tx.txid}
      - var done = false
      each r in tx.vout 
        if r.addresses == address.a_id
          td.success
            - var amount = r.amount / 100000000
            | + #{amount.toFixed(8)}
        else
          each s in tx.vin
            if done == false
              if s.addresses == address.a_id
                - done = true
                td.danger
                  -var amount = s.amount / 100000000
                  | - #{amount.toFixed(8)}
      td(style='text-align:center') 
        a(href='/tx/#{tx.txid}')
          span.glyphicon.glyphicon-eye-open 