.panel.panel-default.panel-iquidus
  .panel-heading
    h3.panel-title #{settings.locale.rl_current_balance} 
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address}
        th #{settings.locale.rl_balance} (#{settings.symbol})
        th(style='text-align:center;') %
    tbody
      - var count = 0
      each item in balance
        - count = count + 1
        - var itemFixed = item.balance / 100000000
        - var percentage = (itemFixed / stats.supply) * 100
        tr
          td(style='text-align:center;') 
            =count
          td
            a.loading(href='/address/#{item.a_id}') 
              =item.a_id
          td
            =itemFixed.toFixed(8)
          td(style='text-align:center;') 
            =percentage.toFixed(2)