extends layout

block content
  script.
    $(document).ready(function(){
      var historytable = $('#history-table').dataTable( {  
        autoWidth: true,      
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        serverSide: true,
        ajax: '/ext/getaddresstransactions/#{address.a_id}',
        rowCallback: function(row, data, index) {
          var timestamp = data[0];
          var hash = data[1];
          var amount = data[2];
          data[1] = "<a href='/tx/"+hash +"'>"+ hash +"</a>";
          $("td:eq(1)", row).html(data[1]);
          if(amount.charAt(0) == "+"){
            $("td:eq(2)",row).addClass("table-success");
          }else{
            $("td:eq(2)",row).addClass("table-danger");
          }
        }
      });
      setInterval( function () {
        historytable.api().ajax.reload(null, false);
      }, 60000 );
    });
  - var balance = (address.received - address.sent) / 100000000;
  - var sent = address.sent /100000000
  - var received = address.received / 100000000
    img.qrcode.pull-right.d-none.d-sm-block(src='/qr/'+address.a_id)
  .col-xs-12.col-md-12
    .card.card-default.card-address-summary
      .card-header(style='position:relative;')        
        strong=address.a_id
          if address.name !== "" && typeof address.name !== "undefined"
            label.badge.badge-pill.pull-right.d-none.d-sm-block(style='margin-left:15px;') 
              =address.name
          else
            a(href="/address/"+ address.a_id +"/claim" style="font-size: smaller;")
              =" Is this yours? Claim it now for free!"
      table.table.table-bordered.table-striped.summary-table 
        thead
          tr
            if settings.show_sent_received == true
              th=t('address.total_sent',{coin: settings.symbol})
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                th=t('address.total_received',{coin: settings.symbol})
              th=t('address.balance_coin',{coin:settings.symbol})
        tbody             
          tr
            if settings.show_sent_received == true 
              td=sent.toFixed(settings.decimal_places)
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                td=received.toFixed(settings.decimal_places)
              td=balance.toFixed(settings.decimal_places)
    .card.card-default.d-none.d-sm-block
      .card-header
        strong=t('address.latest_transactions')
      table#history-table.table.table-bordered.table-striped
        thead
          tr
            th.d-none.d-sm-tabel-cell.d-tabel-cell=t('address.timestamp')
            th.d-none.d-sm-tabel-cell.d-tabel-cell=t('address.hash')
            th=t('address.amount_coin', {coin: settings.symbol})
        tbody.text-center
    .footer-padding
            