extends layout

block content
  script.
    $(document).ready(function(){
      var hashAddress = "#{address.a_id}";
      var historytable = $('#history-table').dataTable( {
        autoWidth: true,
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        serverSide: true,
        ajax: {
          "url": '/ext/getaddresstxsajax',
          "data": {
            "address": hashAddress
          }
        },
        rowCallback: function (row, data, index) {
          var timestamp = data[0]; //variables for better readability
          var txhash = data[1]; //variables for better readability
          var out = data[2]; //variables for better readability
          var vin = data[3]; //variables for better readability

          $("td:eq(0)", row).html(timestamp);
          $("td:eq(1)", row).html('<a href="/tx/' + txhash + '">' + txhash + '</a>');

          var amount = 0;

          if(out > 0 && vin > 0) {
            amount = (out - vin) / 100000000
            if (amount < 0) {
              amount = amount * -1
              $("td:eq(2)", row).html("-" + amount.toFixed(8)).addClass("info");
            } else if (amount > 0) {
              ammount = amount.toFixed(8);
              $("td:eq(2)", row).html("+" + amount).addClass("info");
            } else {
              $("td:eq(2)", row).html(amount.toFixed(8)).addClass("info");
            }
          }else if(out > 0) {
            amount = out / 100000000;
            $("td:eq(2)", row).html("+" + amount.toFixed(8)).addClass("success");
          }else{
            amount = vin / 100000000;
            $("td:eq(2)", row).html("-" + amount.toFixed(8)).addClass("danger");
          }

        },
      });
      setInterval( function () {
        historytable.api().ajax.reload(null, false);
      }, 60000 );
    });
  - var balance = (address.received - address.sent) / 100000000;
  - var sent = address.sent /100000000
  - var received = address.received / 100000000
  .col-xs-12.col-md-12
    .card.card-default.card-address-summary
      .card-header(style='position:relative;')
        strong=address.a_id
          if address.name !== "" && typeof address.name !== "undefined"
            label.badge.badge-pill.pull-right.d-none.d-sm-block(style='margin-left:15px;')
              =address.name
          else
            a.badge.badge-pill.pull-right.d-none.d-sm-block(href="/address/"+ address.a_id +"/claim" style="font-size: smaller;")
              =" Is this yours? Claim it now for free!"
      table.table.table-bordered.table-striped.summary-table
        thead
          tr
            if settings.show_sent_received == true
              th=t('address.total_sent',{coin: settings.symbol})
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                th=t('address.total_received',{coin: settings.symbol})
              th=t('address.balance_coin',{coin:settings.symbol})
              th=t('address.qr')
        tbody
          tr
            if settings.show_sent_received == true
              td=sent.toFixed(settings.decimal_places)
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                td=received.toFixed(settings.decimal_places)
              td=balance.toFixed(settings.decimal_places)
              td.text-center
                img(src='/qr/'+ address.a_id style='margin-top:0px; margin-bottom:0px;')
    .card.card-default.d-none.d-sm-block
      .card-header
        strong=t('address.latest_transactions')
      table#history-table.table.table-bordered.table-striped
        thead
          tr
            th.d-xs-none.d-sm-tabel-cell.d-tabel-cell=t('address.timestamp')
            th.d-xs-none.d-sm-tabel-cell.d-tabel-cell=t('address.hash')
            th=t('address.amount_coin', {coin: settings.symbol})
        tbody.text-center
    .footer-padding
