extends markets

block market_view
  .row
    .col-md-12  
      .panel.panel-default.panel-iquidus
        .panel-heading
          strong Bittrex - #{marketdata.coin}/#{marketdata.exchange} - #{settings.locale.mkt_hours}
          span.glyphicon.glyphicon-stats.pull-right.view-chart-disabled.market-toggle(data-toggle='tooltip', data-placement='bottom', title='#{settings.locale.mkt_no_chart}') 
        table.table.table-bordered.summary-table 
          thead
            tr
              th #{settings.locale.mkt_high}
              th #{settings.locale.mkt_low}
              th #{settings.locale.mkt_volume}
              th.hidden-xs #{settings.locale.mkt_top_bid}
              th.hidden-xs #{settings.locale.mkt_top_ask}
              th.hidden-xs #{settings.locale.mkt_yesterday}
              th.hidden-xs #{settings.locale.mkt_last}
              th #{settings.locale.mkt_change}
          tbody
            tr
              td #{marketdata.bittrex.summary.High.toFixed(8)}
              td #{marketdata.bittrex.summary.Low.toFixed(8)}
              td #{marketdata.bittrex.summary.Volume.toFixed(8)}
              td.hidden-xs #{marketdata.bittrex.summary.Bid.toFixed(8)}
              td.hidden-xs #{marketdata.bittrex.summary.Ask.toFixed(8)}
              td.hidden-xs #{marketdata.bittrex.summary.PrevDay.toFixed(8)}
              td.hidden-xs #{marketdata.bittrex.summary.Last.toFixed(8)}
              - var bittrex_change = (100 - ((parseFloat(marketdata.bittrex.summary.PrevDay)/parseFloat(marketdata.bittrex.summary.Last))*100)).toFixed(2);
              if bittrex_change >= 0
                td.success +#{bittrex_change} %
              else
                td.danger #{bittrex_change} %
  .row
    .col-md-6
      .panel.panel-default.panel-iquidus
        .panel-heading
          h3.panel-title #{settings.locale.mkt_sell_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.hidden-xs #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each sell in marketdata.bittrex.sells
              tr
                td
                  =sell.price.toFixed(8)
                td
                  =sell.amount.toFixed(8)
                td.hidden-xs
                  =sell.total
    .col-md-6
      .panel.panel-default.panel-iquidus
        .panel-heading
          h3.panel-title #{settings.locale.mkt_buy_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.hidden-xs #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each buy in marketdata.bittrex.buys
              tr
                td
                  =buy.price.toFixed(8)
                td
                  =buy.amount.toFixed(8)
                td.hidden-xs
                  =buy.total
  .row   
    .col-md-12
      .panel.panel-default.panel-iquidus
        .panel-heading
          h3.panel-title #{settings.locale.mkt_trade_history}
        table.table.table-hover.history-table.table-bordered(cellspacing="0")
          thead
            tr
              th.hidden-xs #{settings.locale.mkt_type}
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_total} (#{marketdata.exchange})
              th.hidden-xs #{settings.locale.mkt_time_stamp}
          tbody
            each order in marketdata.bittrex.history
              if order.OrderType == 'BUY'
                tr.success
                  td.hidden-xs
                    =order.OrderType
                  td
                    =order.Quantity.toFixed(8)
                  td
                    =order.Price.toFixed(8)
                  td
                    =order.Total.toFixed(8)
                  td.hidden-xs
                    =order.TimeStamp
              else
                tr.danger 
                  td.hidden-xs
                    =order.OrderType
                  td
                    =order.Quantity.toFixed(8)
                  td
                    =order.Price.toFixed(8)
                  td
                    =order.Total.toFixed(8)
                  td.hidden-xs
                    =order.TimeStamp
      .footer-padding