extends layout

block content
  - var time = format_unixtime(block.time)
  - var block_difficulty = parseFloat(block.difficulty).toFixed(4)
  .col-xs-12.col-md-12
    .card.card-default
      .card-header(style='padding-left:25px;padding-right:25px;')       
        .row           
          if block.previousblockhash != null
            a(href='/block/'+ block.previousblockhash)
              span.fa.fa-chevron-left.iquidus.block-last(data-toggle='tooltip', data-placement='top', title=settings.locale.block_previous)  
            strong.d-none.d-sm-block #{settings.symbol} block: #{block.hash}
          else
            strong.d-none.d-sm-block(style='margin-left:10px;') #{settings.symbol} #{settings.locale.ex_block}: #{block.hash}
          if block.nextblockhash != null 
            a(href='/block/'+ block.nextblockhash)
              span.fa.fa-chevron-right.iquidus.pull-right.block-next(data-toggle='tooltip', data-placement='top', title=settings.locale.block_next)      
          a(href=`/api/getblock?hash=` + block.hash)
            span.fa.fa-info-circle.iquidus.pull-right
      table.table.table-bordered.summary-table 
        thead
          tr
            th #{settings.locale.height}
            th #{settings.locale.difficulty}
            th #{settings.locale.confirmations}
            if settings.heavy == true
              th Vote
            th.d-none.d-sm-table-cell.d-table-cell #{settings.locale.size} (kB)
            th.d-none.d-sm-table-cell.d-table-cell #{settings.locale.bits}
            th.d-none.d-sm-table-cell.d-table-cell #{settings.locale.nonce}
            th.d-none.d-sm-table-cell.d-table-cell #{settings.locale.timestamp}
        tbody
          if block.confirmations >= confirmations                
            tr.table-success
              - var block_size = block.size/1024
              td=block.height
              td=Number(block.difficulty).toFixed(4)
              td=block.confirmations
              if settings.heavy == true
                td=block.vote
              td.d-none.d-sm-table-cell.d-table-cell=block_size.toFixed(2)
              td.d-none.d-sm-table-cell.d-table-cell=block.bits
              td.d-none.d-sm-table-cell.d-table-cell=block.nonce
              td.d-none.d-sm-table-cell.d-table-cell=time
          else
            if block.confirmations < (confirmations / 2)
              tr.table-danger
                - var block_size = block.size/1024
                td=block.height
                td=Number(block.difficulty).toFixed(4)
                td=block.confirmations
                if settings.heavy == true
                  td=block.vote
                td.d-none.d-sm-table-cell.d-table-cell=block_size.toFixed(2)
                td.d-none.d-sm-table-cell.d-table-cell=block.bits
                td.d-none.d-sm-table-cell.d-table-cell=block.nonce
                td.d-none.d-sm-table-cell.d-table-cell=time
            else
              tr.table-warning
                - var block_size = block.size/1024
                td=block.height
                td=Number(block.difficulty).toFixed(4)
                td=block.confirmations
                if settings.heavy == true
                  td=block.vote
                td.d-none.d-sm-cell.d-table-cell=block_size.toFixed(2)
                td.d-none.d-sm-table-cell.d-table-cell=block.bits
                td.d-none.d-sm-table-cell.d-table-cell=block.nonce
                td.d-none.d-sm-table-cell.d-table-cell=time

    if block.hash == settings.genesis_block
      .alert.alert-info(role='alert', style='text-align:center;')   
        strong #{settings.locale.block_genesis}
    else
      .card.card-default
        .card-header
          strong #{settings.locale.ex_latest_transactions}
        table.table.table-bordered.table-striped.summary-table 
          thead
            tr
              th.d-none.d-sm-table-cell #{settings.locale.tx_hash}
              th #{settings.locale.tx_recipients}
              th #{settings.locale.mkt_amount} (#{settings.symbol})
              th
          tbody
            each txn in txs
              tr
                td.d-none.d-sm-table-cell
                  a(href='/tx/'+txn.txid) #{txn.txid}
                td #{txn.vout.length}
                if txn.vout.length > 0
                  - var total = (txn.total / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
                  - var totalParts = total.split('.')
                  td #{totalParts[0]}.
                    span.decimal #{totalParts[1]}
                else
                  - var total = (txn.total).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
                  - var totalParts = total.split('.')
                  td #{totalParts[0]}.
                    span.decimal #{totalParts[1]}
                td.view_tx 
                  a(href='/tx/'+txn.txid)
                    span.fa.fa-eye
    .footer-padding  
