extends layout

block content
  - var time = format_unixtime(block.time)
  .row(style='margin-top:5px;')
    .col-md-12(style='text-align:center;')
      img(src='/images/logo.png' style='width:80px;margin: 0px auto 15px auto;')
  .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    .panel.panel-default.panel-iquidus
      .panel-heading(style='padding-left:25px;padding-right:25px;')       
        .row           
          if block.previousblockhash != null
            a(href='/block/#{block.previousblockhash}')
              span.glyphicon.glyphicon-chevron-left.block-last(data-toggle='tooltip', data-placement='top', title='#{settings.locale.block_previous}')  
            strong #{settings.symbol} block: #{block.hash}
          else
            strong(style='margin-left:10px;') #{settings.symbol} block: #{block.hash}
          if block.nextblockhash != null 
            a(href='/block/#{block.nextblockhash}')
              span.glyphicon.glyphicon-chevron-right.pull-right.block-next(data-toggle='tooltip', data-placement='top', title='#{settings.locale.block_next}')       
          a(href='/api/getblock?hash=#{block.hash}')
            span.glyphicon.glyphicon-info-sign.pull-right.glow-inverse
      table.table.table-bordered.summary-table 
        thead
          tr
            th #{settings.locale.height}
            th #{settings.locale.difficulty}
            th #{settings.locale.confirmations}
            if settings.heavy == true
              th Vote
            th.hidden-xs #{settings.locale.size} (kB)
            th.hidden-xs #{settings.locale.bits}
            th.hidden-xs #{settings.locale.nonce}
            th.hidden-xs #{settings.locale.timestamp}
        tbody
          if block.confirmations >= confirmations                
            tr.success
              - var block_size = block.size/1024
              td #{block.height}
              td #{block.difficulty.toFixed(4)}
              td #{block.confirmations}
              if settings.heavy == true
                td  #{block.vote}
              td.hidden-xs #{block_size.toFixed(2)}
              td.hidden-xs #{block.bits}
              td.hidden-xs #{block.nonce}
              td.hidden-xs #{time}
          else
            if block.confirmations < (confirmations / 2)
              tr.danger
                - var block_size = block.size/1024
                td #{block.height}
                td #{block.difficulty.toFixed(4)}
                td #{block.confirmations}
                if settings.heavy == true
                  td  #{block.vote}
                td.hidden-xs #{block_size.toFixed(2)}
                td.hidden-xs #{block.bits}
                td.hidden-xs #{block.nonce}
                td.hidden-xs #{time}
            else
              tr.warning
                - var block_size = block.size/1024
                td #{block.height}
                td #{block.difficulty.toFixed(4)}
                td #{block.confirmations}
                if settings.heavy == true
                  td  #{block.vote}
                td.hidden-xs #{block_size.toFixed(2)}
                td.hidden-xs #{block.bits}
                td.hidden-xs #{block.nonce}
                td.hidden-xs #{time}

    if block.hash == settings.genesis_block
      .alert.alert-info(role='alert', style='text-align:center;')   
        strong #{settings.locale.block_genesis}
    else
      .panel.panel-default.panel-iquidus
        .panel-heading
          strong #{settings.locale.ex_latest_transactions}
        table.table.table-bordered.table-striped.summary-table 
          thead
            tr
              th #{settings.locale.tx_hash}
              th #{settings.locale.tx_recipients}
              th #{settings.locale.mkt_amount} (#{settings.symbol})
              th
          tbody
            each txn in txs
              tr
                td #{txn.txid}
                td #{txn.vout.length}
                if txn.vout.length > 0
                  if txn.vout[0].addresses[0] != txn.vin[0].addresses
                    td #{txn.total.toFixed(8)}
                  else
                    - var total = txn.vout[0].amount - txn.vin[0].amount
                    td #{total.toFixed(8)}
                else
                  td #{txn.total.toFixed(8)}
                td.view_tx 
                  a(href='/tx/#{txn.txid}')
                    span.glyphicon.glyphicon-eye-open.glow 
    .footer-padding  
