extends layout

block content
  script.
    $(function () {

        $('form').on('submit', function (e) {

          e.preventDefault();
          var address;
          var message;
          var signature;
          address = $('input#address').val();
          message = $('input#message').val();
          signature = $('input#signature').val();
          var url = '/api/verifymessage?address='+address+'&signature=' + signature + '&message='+message;
          console.log(url);
          $.ajax({
            type: 'get',
            url: url,
            success: function (data) {
              if(data.message){
                console.log(data.message);
              }
              console.log(data);
            }
          });

        });

      });
  - var balance = (address.received - address.sent) / 100000000;
  - var sent = address.sent /100000000
  - var received = address.received / 100000000
    img.qrcode.pull-right.d-none.d-sm-block(src='/qr/#{address.a_id}')
  .col-xs-12.col-md-12
    .card.card-default.card-address-summary
      .card-header(style='position:relative;')        
        strong=address.a_id
        if settings.labels[address.a_id]
          if settings.labels[address.a_id].type  
            label(class='badge label-#{ settings.labels[address.a_id].type} pull-right d-none d-sm-block', style='margin-left:15px;')
              =settings.labels[address.a_id].label
              if settings.labels[address.a_id].url
                a(href="#{ settings.labels[address.a_id].url}'", target='_blank')
                  span.fa.fa-question-circle(style='margin-left:5px;')
          else
            label.badge.badge-pill.pull-right.d-none.d-sm-block(style='margin-left:15px;') 
              =settings.labels[address.a_id].label
              if settings.labels[address.a_id].url
                a(href='#{settings.labels[address.a_id].url}', target='_blank')
                  span.fa.fa-question-circle(style='margin-left:5px;')
      table.table.table-bordered.table-striped.summary-table 
        thead
          tr
            if settings.show_sent_received == true
              th=t('address.total_sent',{coin: settings.symbol})
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                th=t('address.total_received',{coin: settings.symbol})
              th=t('address.balance_coin',{coin:settings.symbol})
        tbody             
          tr
            if settings.show_sent_received == true 
              td=sent.toFixed(settings.decimal_places)
            if address.a_id !== 'coinbase'
              if settings.show_sent_received == true
                td=received.toFixed(settings.decimal_places)
              td=balance.toFixed(settings.decimal_places)
    .card.card-default.d-none.d-sm-block
      .card-header
        strong Claim this Address
      form#claimForm
        .form-group
          fieldset
            label.control-label(for='address') Wallet Address
            input#address.form-control(type='text' value=address.a_id readonly="")
        .form-group
          fieldset
            label(for='message') Username
            input#message.form-control(type='text' placeholder='User Name')
        .form-group
          fieldset
            label(for='signature') Signature
            input#signature.form-control(type='text' placeholder='Signature')
        button.btn.btn-primary(type='submit') Submit
    .footer-padding
            