extends layout

block content
  script.
    $(document).ready(function(){
      var stable = $('#block-table').dataTable( {  
        autoWidth: true,      
        searching: true,
        ordering: false,
        responsive: true,
        lengthChange: false,
        processing: true,
        paging: false,
        info: false,
        ajax: {
          url: '/ext/summary',
          dataSrc: function ( json ) {
          console.log(json.data);
            json.data[0]['height'] = "<a href='/block/" + json.data[0]['hash'] + "'>" + json.data[0]['height'] + "</a>";
            return json.data;
          }
        },
        columns: [
          //{ data: 'height', width: '8%' },
          { data: 'difficulty', width: '10%' },
          //{ data: 'size', width:'10%' },
          //{ data: 'txs', width: '10%' },
          { data: 'supply', width: '15%' },
          //{ data: 'time', width: '20%' },
        ]
      });
      var rtable = $('#recent-table').dataTable( {  
        autoWidth: false,      
        searching: false,
        ordering: false,
        responsive: false,
        lengthChange: false,
        processing: true,
        serverSide: true,
        ajax: '/ext/getlasttxsajax',
        rowCallback: function(row, data, index) {
          var blockindex = data[0]; //variables for better readability
          var blockhash = data[1]; //variables for better readability
          var txhash = data[2]; //variables for better readability
          var outputs = data[3]; //variables for better readability
          var amount = data[4]; //variables for better readability
          var timestamp = data[5]; //variables for better readability
          $("td:eq(0)", row).html('<a href="/block/' + blockhash + '">' + blockindex + '</a>');
          $("td:eq(1)", row).html('<a href="/tx/' + txhash + '">' + txhash + '</a>').addClass("d-none d-md-none d-lg-table-cell text-center");
          $("td:eq(2)", row).html(outputs).addClass("d-none d-md-none d-lg-table-cell text-center");
          $("td:eq(3)", row).html(amount);
          $("td:eq(4)", row).html(timestamp);          
        },
      });
      setInterval( function () {
        rtable.api().ajax.reload(null, false);
        stable.api().ajax.reload(null, false);
      }, 60000 );
    });
  .row
    .col-md-10
      if error !== null        
        .alert.alert-danger.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong=t('explorer.error') + t('layout.search.no_results', {query: error.query})
      if warning !== null        
        .alert.alert-warning.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong=t('explorer.warning') +' : ' +warning
  
  .col-md-12
    .card.card-default
      .card-header
        strong=t('explorer.latest_transactions')
      table#recent-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center=t('explorer.block')
            th.d-none.d-md-none.d-lg-table-cell.text-center=t('explorer.hash')
            th.d-none.d-md-none.d-lg-table-cell.text-center=t('explorer.recipients')
            th.text-center=t('address.amount_coin', {coin: settings.symbol})
            th.text-center=t('explorer.timestamp')
        tbody.text-center
    .footer-padding
      
              
