doctype html
html
  head
    title=settings.title
    link(rel='stylesheet', href='/themes/'+ settings.theme+'/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    link(rel='stylesheet', href='/vendor/flags-css/css/flag-icon.min.css')
    link(res='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script(src='/vendor/jqplot/jquery.jqplot.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.ohlcRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.highlighter.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.barRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/javascripts/chart.js')
    script.
      $(document).ready(function(){
        $('#active').addClass('active');
        function update_stats(){
          $.ajax({url: '/ext/summary', success: function(json){
            $("#supply").text(json.data[0].supply);
            $("#masternodeCountOnline").text(json.data[0].masternodeCountOnline);
            $("#masternodeCountOffline").text(json.data[0].masternodeCountOffline);
            $("#difficulty").text(json.data[0].difficulty);
            $("#difficultyHybrid").text(json.data[0].difficultyHybrid);
            $("#hashrate").text(json.data[0].hashrate);
            $("#lastPrice").text(json.data[0].lastPrice.toFixed(Number('#{settings.decimal_places}')));
            $("#lblConnections").text(json.data[0].connections + ' connections');
            $("#lblBlockcount").text(json.data[0].blockcount + ' blocks');
            $("#lblX1").text(' ');
          }});
        }
        $('.block-last-next').tooltip({
          animation: true,
          delay: { hide: 500 },
        });
        $('.iquidus').css('color',$('.table').css('color'));
        $(window).resize(function () {
          $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust();
        });
        setInterval( function() {
          update_stats();
        }, 60000);
        update_stats();
      });
  body
    - function format_unixtime(unixtime) {
      - var a = new Date(unixtime*1000);
      - var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      - var year = a.getFullYear();
      - var month = months[a.getMonth()];
      - var date = a.getDate();
      - var hour = a.getHours();
      - var min = a.getMinutes();
      - var sec = a.getSeconds();
      - var suffix = 'th'
      if date == 1 || date == 21 || date == 31
        - suffix = 'st'
      if date == 2 || date == 22 || date == 32
        - suffix = 'nd'
      if date == 3 || date == 23
        - suffix = 'rd'
      if hour < 10
        - hour = '0' + hour
      if min < 10
        - min = '0' + min
      if sec < 10
        - sec = '0' + sec
      - var time = date + suffix + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
      - return time
    -  };
    .nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top(role='navigation')
      .navbar-header
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.navbar-toggler-icon 
        a.navbar-brand(href='/')=settings.coin
      .collapse.navbar-collapse(id='navbar-collapse')
        ul.navbar-nav.mr-auto
          li#home
            a.nav-link(href='/')
              span.fa.fa-search
              span.menu-text=t('layout.navigation.explorer')
          if settings.display.rewards == true
            li#reward
              a.nav-link(href='/reward')
                span.fa.fa-star
                span.menu-text= t('layout.navigation.reward')
          if settings.display.masternodes == true
            li#masternodes
              a.nav-link(href='/masternodes')
                span.fa.fa-share-alt
                span.menu-text= t('layout.navigation.masternodes')
          if settings.display.movement == true
            li#movement
              a.nav-link.loading(href='/movement')
                span.fa.fa-money
                span.menu-text=t('layout.navigation.movement')
          if settings.display.network == true
            li#network
              a.nav-link(href='/network')
                span.fa.fa-share-alt
                span.menu-text=t('layout.navigation.network')
          if settings.display.richlist == true
            li#richlist
              a.nav-link(href='/richlist')
                span.fa.fa-btc
                span.menu-text=t('layout.navigation.richlist')
          if settings.display.markets == true
            li#markets.dropdown
              a.nav-link.dropdown-toggle(data-toggle="dropdown", href="#" role="button" aria-haspopup="true" aria-expanded="false")
                span.fa.fa-line-chart
                span.menu-text=t('layout.navigation.markets')
              div.dropdown-menu
                each market in settings.markets.enabled
                  a.dropdown-item.loading(href='/markets/'+market)=t('exchange.'+market)
          if settings.display.api == true
            li#info
              a.nav-link(href='/info')
                span.fa.fa-info-circle
                span.menu-text=t('layout.navigation.api')
          if settings.display.coininfo == true
            li#coininfo
              a.nav-link(href="/coininfo")
                span.fa.fa-info-circle
                span.menu-text=t('layout.navigation.coin_info')
    .col-md-12
      .row.text-center.d-flex.justify-content-center
        each val in settings.frontpage_layout
          case val
            when "nethash"
              .col-md-2
                .card.card-default.d-none.d-md-block.d-block
                  .card-header
                    strong= t('layout.stats.network') + t(['layout.stats.nethash.' + settings.nethash_units, 'layout.stats.nethash.unspecific'])
                  .card-body
                    #hashratecard
                      span.glyphicon.fa.fa-gears
                      if settings.index.difficulty == 'Hybrid'
                        label#hashrate -
                        <br>
                        label#lblX1
                      else
                        label#hashrate -
            when "difficulty"
              .col-md-2
                .card.card-default.d-none.d-md-block.d-block
                  .card-header
                    strong=t('layout.stats.difficulty')
                  .card-body
                    #difficultycard
                      span.glyphicon.fa.fa-sliders
                      if settings.index.difficulty == 'Hybrid'
                        label#difficulty -
                        <br>
                        label#difficultyHybrid -
                      else
                        label#difficulty -
            when "masternode"
              .col-md-2
               .card.card-default.d-none.d-md-block.d-block
                  .card-header
                    strong=t('layout.stats.masternode',{count: 0 })
                  .card-body
                    #masternodecard
                      span.glyphicon.fa.fa-exclamation-triangle
                      label#masternodeCountOffline -
                      label &nbsp;&#x2F;&nbsp;        
                      label#masternodeCountOnline -
                      span.glyphicon.fa.fa-check-circle
            when "coinsupply"
              .col-md-2
                .card.card-default.d-none.d-md-block.d-block
                  .card-header
                    strong=t('layout.stats.coin_supply',{coin : settings.symbol})
                  .card-body
                    #supplycard
                      span.glyphicon.fa.fa-pie-chart
                      if settings.index.difficulty == 'Hybrid'
                        label#supply -
                        <br>
                        label#lblX1
                      else
                        label#supply -
            when "price"
              .col-md-2
                .card.card-default.d-none.d-md-block.d-block
                  .card-header
                    strong=t('layout.stats.coin_price',{exchange : settings.markets.exchange})
                  .card-body
                    #pricecard
                      span.glyphicon.fa.fa-rocket
                      if settings.index.difficulty == 'Hybrid'
                        label#lastPrice -
                        <br>
                        label#lblX1
                      else
                        label#lastPrice -
            when "logo"
              .col-md-2.col-sm-12
                img(src=settings.logo, style='margin-top:-15px;height:128px;')

      .row.text-center(style='margin-top:10px;margin-bottom:20px;')
        form.form-inline.col-12.d-flex.justify-content-center(method='post', action='/search')
          #index-search.form-group.d-flex.justify-content-center
            input.form-control(type='text', name='search', placeholder=t('layout.search.hint'), style='min-width:80%;margin-right:5px;')
            button.btn.btn-success(type='submit')=t('layout.search.button')
    block content
    .nav.navbar.navbar-default.fixed-bottom.d-none.d-md-flex.d-flex.bg-primary
      .col-md-4
        ui.nav.justify-content-left
          each social in settings.social
            if social.enabled
                li.pull-left(style="margin-right:1%")
                  a#website-icon(href=social.url)
                    span(class="glyphicon fa "+ social.fontawesome)
      .col-md-4
        ul.nav.justify-content-center
          li.text-center(style='margin-left:80px;margin-right:80px;')
            p(style='margin-top:15px;')
              a(href='https://github.com/iquidus/explorer', target='_blank') Iquidus Explorer
      .col-md-4
        ui.nav.justify-content-end
          label#lblBlockcount.badge.badge-pill
          label#lblConnections.badge.badge-pill 