doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/vendor/jqplot/jquery.jqplot.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.ohlcRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.highlighter.min.js')
    script(src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')  
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js')
    script.
      $(document).ready(function(){   
        $('#loading-icon').hide();       
        $('.loading').on('click', function() {
          $('#twitter-icon').hide();
          $('#loading-icon').show();
        }); 
        $('.block-last-next').tooltip({
          animation: true,
          delay: { hide: 500 },   
        });
      });
  body
    .nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{settings.title}
        .collapse.navbar-collapse(id='navbar-collapse')
          ul.nav.navbar-nav
            if active == 'home'
              li.active
                a.navbar-link(href='/') 
                  span.glyphicon.glyphicon-search
                  span.menu-text #{settings.locale.menu_explorer}
            else
              li
                a.navbar-link(href='/') 
                  span.glyphicon.glyphicon-search
                  span.menu-text #{settings.locale.menu_explorer}
            if settings.display.markets == true
              if active == 'markets'
                li.active
                  if settings.markets.default == 'bittrex'
                    a.navbar-link.loading(href='/bittrex') 
                      span.glyphicon.glyphicon-stats
                      span.menu-text #{settings.locale.menu_markets}
                  else
                    a.navbar-link.loading(href='/mintpal') 
                      span.glyphicon.glyphicon-stats
                      span.menu-text #{settings.locale.menu_markets}
              else
                li
                  if settings.markets.default == 'bittrex'
                    a.navbar-link.loading(href='/bittrex') 
                      span.glyphicon.glyphicon-stats
                      span.menu-text #{settings.locale.menu_markets}
                  else
                    a.navbar-link.loading(href='/mintpal') 
                      span.glyphicon.glyphicon-stats
                      span.menu-text #{settings.locale.menu_markets}
            if settings.display.api == true
              if active == 'info'
                li.active
                  a.navbar-link(href='/info')
                    span.glyphicon.glyphicon-info-sign
                    span.menu-text #{settings.locale.menu_api}
              else
                li
                  a.navbar-link(href='/info')
                    span.glyphicon.glyphicon-info-sign
                    span.menu-text #{settings.locale.menu_api}
          ul.hidden-xs.nav.navbar-nav.pull-right
            if settings.display.search == true
              if active != 'home'
                li.hidden-xs
                  form.navbar-form(role='search', method='post', action='/search')
                    .form-group.nav-search
                      input.form-control(type='text', name='search')
                    button.btn.btn-success(type='submit') #{settings.locale.ex_search_button}
            li
              img#loading-icon(src='/images/loading.gif')
              if settings.display.twitter
                a#twitter-icon(href="https://twitter.com/#{settings.twitter}", target='_blank')  
                  img(src='/images/twitter.png')
    block content
    .navbar.navbar-inverse.navbar-fixed-bottom
      .container(style="width:100%;")
        ul.nav
          li.text-center
            p(style='margin-top:15px;') 
              a.navbar-link(href='https://github.com/iquidus/explorer', target='_blank') Powered by Iquidus Explorer 
              
              
