extends layout

block content
  script.
    var rplot;
    var colors = [ "#0071bc" ];
    $(document).ready(function(){
      function format_unixtime(unixtime) {
        var a = new Date(unixtime*1000);  
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var suffix = 'th'
        if (date == 1 || date == 21 || date == 31)
          suffix = 'st';
        if (date == 2 || date == 22 || date == 32)
          suffix = 'nd';
        if (date == 3 || date == 23)
          suffix = 'rd';
        if (hour < 10)
          hour = '0' + hour;
        if (min < 10)
          min = '0' + min;
        if (sec < 10)
          sec = '0' + sec;
        var time = date + suffix + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;   
        return time;
      }
      var rtable = $('#alerts-table').dataTable( {  
        autoWidth: false,      
        searching: false,
        ordering: false,
        //responsive: true,
        lengthChange: true,
        //processing: true,
        ajax: {
          url: '/ext/getlasttxs/#{min_amount}',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['timestamp'] = "<span style='font-family:monospace; font-size: 100%; text-align: center; display: block;" + "'>" + new Date(json.data[i]['timestamp']).toTimeString() + "</span>";
              json.data[i]['txid'] = "<a href='/tx/" + json.data[i]['txid'] + "'" + "style='font-family:monospace; font-size: 80%;" + "'>" + json.data[i]['txid'] + "</a>";
              var amount = json.data[i]['total'] / 100000000;
              if (amount > '#{flagb}') {
                json .data[i]['total'] = "<span class='text-danger' style='font-family:monospace; font-size: 100%; text-align: right; display: block;" + "'>" + amount.toFixed(8) + "</span>";
              } else if (amount > '#{flaga}') {
                json .data[i]['total'] = "<span class='text-warning' style='font-family:monospace; font-size: 100%; text-align: right; display: block;" + "'>" + amount.toFixed(8) + "</span>";
              } else {
                json .data[i]['total'] = "<span class='text-success' style='font-family:monospace; font-size: 100%; text-align: right; display: block;" + "'>" + amount.toFixed(8) + "</span>";
              }
            }
            return json.data;
          }
        },
        columns: [
          { data: 'timestamp', width: '25%' },
          { data: 'txid', width: '60%' },
          { data: 'total', width: '15%' },
        ]
      });
      setInterval( function () {
        rtable.api().ajax.reload(null, false);
      }, 45000 );
    });
  //- .col-xs-12.col-md-10.col-md-offset-1(style="margin-bottom: 5%")
  .col-md-12(style="margin-bottom: 5%")
    .row.text-center(style='margin-bottom:15px;')
      i Movement tab shows large amount of TXs like whale alert. Above #{settings.movement.min_amount} is green, #{settings.movement.low_flag} is orange, and #{settings.movement.high_flag} is red.
    .panel.panel-default
      .panel-heading
        strong Large Amount of TXs
      table#alerts-table.table.table-striped.table-bordered
        thead
          th.text-center #{settings.locale.timestamp}
          th.hidden-xs.text-center #{settings.locale.tx_hash}
          th.text-center #{settings.symbol}
        tbody
