extends layout

block content     
  .row(style='margin-top:5px;')
    .col-md-12(style='text-align:center;')
      img(src='#{settings.logo}', style='width:80px;margin: 0px auto 15px auto;')
  if show_dist == true
    .row.hidden-xs 
      .col-md-10.col-md-offset-1
        .row
        .panel.panel-default
          .panel-heading
            h3.panel-title #{settings.locale.rl_wealth} (#{settings.symbol})
          table.table.table-hover.table-bordered
            thead
              tr
                th
                th 
                  =settings.locale.rl_top25
                th 
                  =settings.locale.rl_top50
                th 
                  =settings.locale.rl_top75
                th 
                  =settings.locale.rl_top100
            tbody
              tr
                th #{settings.symbol}
                td #{parseFloat(dista.total).toFixed(8)}
                td #{parseFloat(distb.total).toFixed(8)}
                td #{parseFloat(distc.total).toFixed(8)}
                td #{parseFloat(distd.total).toFixed(8)}
              tr
                th %
                td #{parseFloat(dista.percent).toFixed(2)}
                td #{parseFloat(distb.percent).toFixed(2)}
                td #{parseFloat(distc.percent).toFixed(2)}
                td #{parseFloat(distd.percent).toFixed(2)}
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .tabpanel
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#balance', aria-controls='balance', role='tab', data-toggle='tab') Balance
          li(role='presentation')
            a(href='#received', aria-controls='received', role='tab', data-toggle='tab') Received
      .tab-content
        #balance.tabpanel.tab-pane.active 
          include ./includes/rl_balance.jade
        #received.tabpanel.tab-pane
          include ./includes/rl_received.jade
  .footer-padding