extends layout

block content
  .row(style='margin-top:5px;')
    .col-md-12(style='text-align:center;')
      img(src='/images/logo.png' style='width:80px;margin: 0px auto 15px auto;')
  .col-xs-12.col-md-8.col-md-offset-2
    .panel.panel-default.panel-iquidus
      .panel-heading
        strong #{settings.symbol} tx: #{tx.txid}
      table.table.table-bordered.table-striped.summary-table 
        thead
          tr
            th #{settings.locale.mkt_total} (#{settings.symbol})
            th #{settings.locale.confirmations}
            th #{settings.locale.tx_block_hash}
            th
        tbody
          - var total = 0;
          each r in tx.vout 
            - total = total + r.value;
          if tx.confirmations >= confirmations                
            tr.success
                td #{total.toFixed(8)}
                td #{tx.confirmations}
                td 
                  =tx.blockhash
                td.view_tx  
                  a(href='/block/#{tx.blockhash}')
                    span.glyphicon.glyphicon-eye-open.glow 
          else
            if tx.confirmations < (confirmations / 2)
              tr.danger
                td #{total.toFixed(8)}
                td #{tx.confirmations}
                td 
                  =tx.blockhash
                td.view_tx  
                  a(href='/block/#{tx.blockhash}')
                    span.glyphicon.glyphicon-eye-open.glow 
            else
              tr.warning
                td #{total.toFixed(8)}
                td #{tx.confirmations}
                td 
                  =tx.blockhash
                td.view_tx  
                  a(href='/block/#{tx.blockhash}')
                    span.glyphicon.glyphicon-eye-open.glow  
    .panel.panel-default.panel-iquidus
      .panel-heading
        strong #{settings.locale.tx_recipients}
      table.table.table-bordered.table-striped.summary-table 
        thead
          tr
            th #{settings.locale.tx_address}
            th #{settings.locale.mkt_amount} (#{settings.symbol})
        tbody
          each r in tx.vout 
            tr
              td 
                =r.scriptPubKey.addresses 
              td  #{r.value.toFixed(8)}
  .footer-padding

