extends menu
 
block market_view
  script.
    $(document).ready(function(){
      $('#summary-panel').hide();
      var ohlc = #{marketdata.data.chartdata};
      var plot2 = $.jqplot('chart',[ohlc],{
        seriesDefaults:{yaxis:'y2axis'},
        axes: {
          xaxis: {
            renderer:$.jqplot.DateAxisRenderer,
            tickOptions:{formatString:'%R'},
            tickInterval: "2 hours",
            
          },
          y2axis: {
            tickOptions:{formatString:'%.8f'},
          }
        },
        // To make a candle stick chart, set the "candleStick" option to true.
        series: [
          {
            renderer:$.jqplot.OHLCRenderer,
            rendererOptions:{ candleStick:true }
          }
        ],
        highlighter: {
          show: true,
          showMarker:false,
          tooltipAxes: 'xy',
          yvalues: 4,
          formatString:'<table class="jqplot-highlighter"> \
          <tr><td>time:</td><td>%s</td></tr> \
          <tr><td>open:</td><td>%s</td></tr> \
          <tr><td>hi:</td><td>%s</td></tr> \
          <tr><td>low:</td><td>%s</td></tr> \
          <tr><td>close:</td><td>%s</td></tr></table>'
        }
      }); 
      $(window).resize(function () { 
        plot2.replot( { resetAxes: false } );
      });
    });
  .row
    .col-md-12
      #chart-panel.panel.panel-default
        .panel-heading
          strong #{settings.locale.altmarkets} - #{marketdata.coin}/#{marketdata.exchange} - #{settings.locale.mkt_hours}
          a(href='#')
            span.fa.fa-th-list.pull-right.view-summary.iquidus.market-toggle(data-toggle='tooltip', data-placement='bottom', title=settings.locale.mkt_view_chart) 
        .panel-body
          div#chart(style="width:100%;height:300px;")
      #summary-panel.panel.panel-default
        .panel-heading
          h5 #{settings.locale.altmarkets} - #{marketdata.coin}/#{marketdata.exchange} - #{settings.locale.mkt_hours}
          a(href='#')
            span.fa.fa-line-chart.pull-right.view-chart.iquidus.market-toggle(data-toggle='tooltip', data-placement='bottom', title=settings.locale.mkt_view_summary) 
        table.table.table-bordered.summary-table 
          thead
            tr
              th #{settings.locale.mkt_high}
              th #{settings.locale.mkt_low}
              th #{settings.locale.mkt_volume} (#{marketdata.coin})
              th #{settings.locale.mkt_volume} (#{marketdata.exchange})
              th.hidden-xs #{settings.locale.mkt_last}
              th #{settings.locale.mkt_change}
          tbody
            tr
              td #{marketdata.data.summary.high}
              td #{marketdata.data.summary.low}
              td #{marketdata.data.summary.volume}
              td #{marketdata.data.summary.volume_btc}
              td.hidden-xs #{marketdata.data.summary.last}
              - var altmarkets_change = (marketdata.data.summary.change);
              if altmarkets_change >= 0
                td.table-success +#{altmarkets_change} %
              else
                td.table-danger #{altmarkets_change} %
  .row
    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading
          h5.panel-title #{settings.locale.mkt_buy_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.hidden-xs #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each buy in marketdata.data.buys
              tr.table-success
                td
                  =buy.price
                td
                  =buy.amount
                td.hidden-xs
                  =buy.total

    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading
          h5.panel-title #{settings.locale.mkt_sell_orders}
        table.table.table-striped.table-bordered.order-table
          thead
            tr
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th.hidden-xs #{settings.locale.mkt_total} (#{marketdata.exchange})
          tbody
            each sell in marketdata.data.sells
              tr.table-danger
                td
                  =sell.price
                td
                  =sell.amount
                td.hidden-xs
                  =sell.total
  .row   
    .col-md-12
      .panel.panel-default
        .panel-heading
          h5.panel-title #{settings.locale.mkt_trade_history}
        table.table.table-hover.history-table.table-bordered(cellspacing="0")
          thead
            tr
              th.hidden-xs #{settings.locale.mkt_type}
              th #{settings.locale.mkt_amount} (#{marketdata.coin})
              th #{settings.locale.mkt_price} (#{marketdata.exchange})
              th #{settings.locale.mkt_total} (#{marketdata.exchange})
              th.hidden-xs #{settings.locale.mkt_time_stamp}
          tbody
            each order in marketdata.data.history
              if order.taker_type == 'buy'
                tr.table-success
                  td.hidden-xs
                    =order.taker_type
                  td
                    =parseFloat(order.amount).toFixed(8)
                  td
                    =parseFloat(order.price).toFixed(8)
                  td
                    =parseFloat(order.total).toFixed(8)
                  td.hidden-xs
                    =(new Date(order.created_at * 1000).toUTCString())
              else
                tr.table-danger 
                  td.hidden-xs
                    =order.taker_type
                  td
                    =parseFloat(order.amount).toFixed(8)
                  td
                    =parseFloat(order.price).toFixed(8)
                  td
                    =parseFloat(order.total).toFixed(8)
                  td.hidden-xs
                    =(new Date(order.created_at * 1000).toUTCString())

      .footer-padding

